<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>

    <%- include('common/navbar')%>

    <h2>Welcome: <%=  User.name %> </h2>
     <h2>Age: <%= User.age %> </h2>
      <h2>City: <%= User.city %> </h2>
        <!-- <h2>skills: <%= User.skills %> </h2> -->

        <ul>
            <% User.skills.forEach((items) => {  %> 
                <li>  
                    <%= items %>
                </li>
           <% }) %>
        </ul>
</body>
</html>